body {
  padding-top: 50px;
}

img {
  width: 100%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#cart-spy {
  line-height: 50px;
  padding: 0 12px;
}

#filters {
  margin-bottom: 15px;
}

#category-filter {
  max-width: 300px;
}